<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ttu.spm.appsum">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/appsum_icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".layoutSelector.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:logo="@drawable/appsum_icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layoutSelector.FoodLayout"
            android:label="@string/food_layout_title"
            android:parentActivityName=".layoutSelector.MainActivity"></activity>
        <activity
            android:name=".CitySelection.CitySelectionLayout"
            android:label="Select City"
            android:parentActivityName=".layoutSelector.MainActivity"></activity>
        <activity
            android:name=".places.Attractions"
            android:label="Attractions"
            android:parentActivityName=".layoutSelector.MainActivity"></activity>
        <activity
            android:name=".layoutSelector.EmergencyLayout"
            android:label="EMERGENCY"
            android:parentActivityName=".layoutSelector.MainActivity" />

        <activity
            android:name=".CitySelection.CitySelectionLayoutEmergency"
            android:label="Select City"
            android:parentActivityName=".layoutSelector.EmergencyLayout" />
        <activity
            android:name=".places.AttractionPlaceDetails"
            android:label="CTScan"
            android:launchMode="singleTop"
            android:parentActivityName=".places.Attractions" />
        <activity
            android:name=".Transport.TransportDetails"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".layoutSelector.TransportLayer"
            android:label="Transport"
            android:launchMode="singleTop"
            android:parentActivityName=".layoutSelector.MainActivity" />
        <activity
            android:name=".Hotels.Accomadations"
            android:label="ACCOMMODATIONS"
            android:parentActivityName=".layoutSelector.MainActivity" />
        <activity
            android:name=".Food.Restaurants"
            android:label="Restaurants"
            android:parentActivityName=".layoutSelector.MainActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDhjJfd3CFnWEA5HW2nD5_1Xql7Yms4-Hw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.usebutton.applicationid" android:value="app-4e621db2a8146052"/>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
</manifest>
